<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1019215196558-ihn5vf4r356g1h3bt0dj55i7k92rb495.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019215196558-ihn5vf4r356g1h3bt0dj55i7k92rb495</string>
	<key>API_KEY</key>
	<string>AIzaSyA4pwNdW_ZJ3KZ_kD5p-sF9xY9lbON11tg</string>
	<key>GCM_SENDER_ID</key>
	<string>1019215196558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.supriya.SAPushNotification</string>
	<key>PROJECT_ID</key>
	<string>sapushnotification-d60c7</string>
	<key>STORAGE_BUCKET</key>
	<string>sapushnotification-d60c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019215196558:ios:9d152ee778c9db82</string>
	<key>DATABASE_URL</key>
	<string>https://sapushnotification-d60c7.firebaseio.com</string>
</dict>
</plist>